## Assignment 1b: Time Series Forecasting

### \yuqing chen \a1841612

#### Follow detail instructions in the assignment specification and use these heading for implementation and discussion

### 1. Read the dataset

In [1]:
import pandas as pd
import numpy as np

# load the data from the dataset
file_path = 'energydata_complete.csv'
df = pd.read_csv(file_path)

/var/folders/n3/ddr1nygd4b11p0zv8kwtqx3w0000gn/T/ipykernel_3057/1264679884.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# check if the data is loaded successfully
print(df.head())

               date  Appliances  lights     T1       RH_1    T2       RH_2  \
0  11/01/2016 17:00          60      30  19.89  47.596667  19.2  44.790000
1  11/01/2016 17:10          60      30  19.89  46.693333  19.2  44.722500
2  11/01/2016 17:20          50      30  19.89  46.300000  19.2  44.626667
3  11/01/2016 17:30          50      40  19.89  46.066667  19.2  44.590000
4  11/01/2016 17:40          60      40  19.89  46.333333  19.2  44.530000

      T3       RH_3         T4  ...         T9   RH_9  T_out  Press_mm_hg  \
0  19.79  44.730000  19.000000  ...  17.033333  45.53   6.60        733.5
1  19.79  44.790000  19.000000  ...  17.066667  45.56   6.48        733.6
2  19.79  44.933333  18.926667  ...  17.000000  45.50   6.37        733.7
3  19.79  45.000000  18.890000  ...  17.000000  45.40   6.25        733.8
4  19.79  45.000000  18.890000  ...  17.000000  45.40   6.13        733.9

   RH_out  Windspeed  Visibility  Tdewpoint        rv1        rv2
0    92.0   7.000000   63.000000        5.3  13.275433  13.275433
1    92.0   6.666667   59.166667        5.2  18.606195  18.606195
2    92.0   6.333333   55.333333        5.1  28.642668  28.642668
3    92.0   6.000000   51.500000        5.0  45.410390  45.410390
4    92.0   5.666667   47.666667        4.9  10.084097  10.084097

[5 rows x 29 columns]

### 2. Analyse and visualise the data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [4]:
import pandas as pd

# Specify the datetime format as '%d/%m/%Y %H:%M'
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y %H:%M')

# Generate NSM (number of seconds per day from midnight)
df['NSM'] = (df['date'] - df['date'].dt.normalize()).dt.total_seconds()

# status of weekend and weekday (0 = weekday, 1 = weekend)
df['weekend'] = df['date'].dt.dayofweek // 5

# load the data and check if these two columns are correctly added
print(df.head(700))

                   date  Appliances  lights         T1       RH_1    T2  \
0   2016-01-11 17:00:00          60      30  19.890000  47.596667  19.2
1   2016-01-11 17:10:00          60      30  19.890000  46.693333  19.2
2   2016-01-11 17:20:00          50      30  19.890000  46.300000  19.2
3   2016-01-11 17:30:00          50      40  19.890000  46.066667  19.2
4   2016-01-11 17:40:00          60      40  19.890000  46.333333  19.2
..                  ...         ...     ...        ...        ...   ...
695 2016-01-16 12:50:00          90       0  22.075000  40.045000  21.3
696 2016-01-16 13:00:00          90       0  22.000000  39.223333  21.1
697 2016-01-16 13:10:00         100       0  22.000000  39.626667  21.1
698 2016-01-16 13:20:00          80       0  22.000000  39.566667  21.1
699 2016-01-16 13:30:00          90       0  21.963333  39.560000  21.1

          RH_2         T3       RH_3         T4  ...  T_out  Press_mm_hg  \
0    44.790000  19.790000  44.730000  19.000000  ...   6.60   733.500000
1    44.722500  19.790000  44.790000  19.000000  ...   6.48   733.600000
2    44.626667  19.790000  44.933333  18.926667  ...   6.37   733.700000
3    44.590000  19.790000  45.000000  18.890000  ...   6.25   733.800000
4    44.530000  19.790000  45.000000  18.890000  ...   6.13   733.900000
..         ...        ...        ...        ...  ...    ...          ...
695  38.923333  21.033333  41.723333  20.196667  ...   5.70   763.733333
696  37.950000  20.890000  40.990000  20.100000  ...   5.90   763.700000
697  38.156667  20.963333  40.790000  20.166667  ...   5.88   763.700000
698  38.363333  21.000000  40.826667  20.166667  ...   5.87   763.700000
699  38.500000  21.000000  40.900000  20.166667  ...   5.85   763.700000

        RH_out  Windspeed  Visibility  Tdewpoint        rv1        rv2  \
0    92.000000   7.000000   63.000000      5.300  13.275433  13.275433
1    92.000000   6.666667   59.166667      5.200  18.606195  18.606195
2    92.000000   6.333333   55.333333      5.100  28.642668  28.642668
3    92.000000   6.000000   51.500000      5.000  45.410390  45.410390
4    92.000000   5.666667   47.666667      4.900  10.084097  10.084097
..         ...        ...         ...        ...        ...        ...
695  69.500000   4.666667   26.333333      0.450  27.965514  27.965514
696  66.000000   5.000000   27.000000      0.000  39.454724  39.454724
697  68.333333   4.833333   29.166667      0.417   8.385763   8.385763
698  70.666667   4.666667   31.333333      0.833  48.522587  48.522587
699  73.000000   4.500000   33.500000      1.250  23.675155  23.675155

         NSM  weekend
0    61200.0        0
1    61800.0        0
2    62400.0        0
3    63000.0        0
4    63600.0        0
..       ...      ...
695  46200.0        1
696  46800.0        1
697  47400.0        1
698  48000.0        1
699  48600.0        1

[700 rows x 31 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  datetime64[ns]
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
 29  NSM          19735 non-null  float64
 30  weekend      19735 non-null  int32
dtypes: datetime64[ns](1), float64(27), int32(1), int64(2)
memory usage: 4.6 MB

### 3. Pre-process the data

In [6]:
outlier_rows = df[df['Appliances'] > 250]
print(outlier_rows)

                     date  Appliances  lights         T1       RH_1  \
11    2016-01-11 18:50:00         580      60  20.066667  46.396667
12    2016-01-11 19:00:00         430      50  20.133333  48.000000
31    2016-01-11 22:10:00         400      20  21.533333  44.966667
32    2016-01-11 22:20:00         400      20  21.600000  44.766667
33    2016-01-11 22:30:00         390      30  21.600000  44.560000
...                   ...         ...     ...        ...        ...
19704 2016-05-27 13:00:00         370       0  24.890000  47.730000
19705 2016-05-27 13:10:00         280       0  25.033333  48.363333
19732 2016-05-27 17:40:00         270      10  25.500000  46.596667
19733 2016-05-27 17:50:00         420      10  25.500000  46.990000
19734 2016-05-27 18:00:00         430      10  25.500000  46.600000

              T2       RH_2         T3       RH_3         T4  ...  T_out  \
11     19.426667  44.400000  19.790000  44.826667  19.000000  ...   5.98
12     19.566667  44.400000  19.890000  44.900000  19.000000  ...   6.00
31     20.790000  44.360000  20.426667  45.933333  19.600000  ...   5.65
32     20.890000  44.223333  20.500000  45.933333  19.696667  ...   5.70
33     20.963333  43.963333  20.500000  45.790000  20.096667  ...   5.75
...          ...        ...        ...        ...        ...  ...    ...
19704  26.500000  40.460000  28.730000  42.156667  24.500000  ...  21.10
19705  26.528571  40.595714  28.496667  41.900000  24.500000  ...  21.30
19732  25.628571  42.768571  27.050000  41.690000  24.700000  ...  22.50
19733  25.414000  43.036000  26.890000  41.290000  24.700000  ...  22.30
19734  25.264286  42.971429  26.823333  41.156667  24.700000  ...  22.20

       Press_mm_hg     RH_out  Windspeed  Visibility  Tdewpoint        rv1  \
11      734.433333  91.166667   5.833333   40.000000       4.62   8.827838
12      734.500000  91.000000   6.000000   40.000000       4.60  34.351142
31      735.883333  87.833333   6.166667   40.000000       3.72  29.978291
32      735.966667  87.666667   6.333333   40.000000       3.73  24.677065
33      736.050000  87.500000   6.500000   40.000000       3.75   9.310880
...            ...        ...        ...         ...        ...        ...
19704   756.100000  60.000000   1.000000   24.000000      13.00  48.686116
19705   756.050000  59.833333   1.166667   23.666667      13.10  32.420348
19732   755.200000  56.333333   3.666667   25.333333      13.30  29.199117
19733   755.200000  56.666667   3.833333   26.166667      13.20   6.322784
19734   755.200000  57.000000   4.000000   27.000000      13.20  34.118851

             rv2      NSM  weekend
11      8.827838  67800.0        0
12     34.351142  68400.0        0
31     29.978291  79800.0        0
32     24.677065  80400.0        0
33      9.310880  81000.0        0
...          ...      ...      ...
19704  48.686116  46800.0        0
19705  32.420348  47400.0        0
19732  29.199117  63600.0        0
19733   6.322784  64200.0        0
19734  34.118851  64800.0        0

[1531 rows x 31 columns]

In [7]:
# delete the outliers
df = df.drop(outlier_rows.index)

print(df['Appliances'].describe())

count    18204.000000
mean        72.153922
std         38.871238
min         10.000000
25%         50.000000
50%         60.000000
75%         90.000000
max        250.000000
Name: Appliances, dtype: float64

In [8]:
missing_values = df.isna().sum()

print(missing_values)

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
NSM            0
weekend        0
dtype: int64

### 4. Implement, train and test prediction models

### 5. Compare the results from all candidate models, choose the best model, justify your choice and discuss the results


Compare with the results you have obtained in Assignment 1a.

### 6. Reflect on what you have learned by completing this assignment and how to improve the models

### 7. References